<form action="push" method="post" accept-charset="utf-8">
  <label for="word">Word</label><input type="text/submit/hidden/button" name="config[word]" id="word">
  <br />
  <label for="definition">Definition</label><input type="text/submit/hidden/button" name="config[definition]" id="definition">
  
  <p><input type="submit" value="Publish &rarr;"></p>
</form>